* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --color-primary: #FFFFFF;
    --color-secondary: #282828;
    --color-tertiary: #0EDADE;
    --color-quaternary: #5D0EDE;
    --color-quinary: #320778;
    --color-senary: #B0B0B0;
}

.logo {
    max-width: 125px;
}

.nav-link-custom {
    font-size: 15px;
    color: var(--color-senary);
}

.nav-link-custom:hover, .nav-link-custom:focus {
    color: var(--color-primary);
}

.header {
    font-size: 96px;
    font-weight: 700;
    color: var(--color-primary);

    max-width: 570px;
}

.header-container {
    display: flex;
    gap: 205px;

    margin: auto;
}

.header-custom {
    display: flex;
    flex-direction: column;
    gap: 200px;

    padding: 30px 60px;
    background-color: var(--color-secondary);
}

.span-green {
    color: var(--color-tertiary);
}

.image-photo {
    border-radius: 50%;

    max-height: 350px;
    max-width: 350px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.btn-primary {
    padding: 16px 99px;
}

.btn-bg-primary {
    background-color: var(--color-quaternary);
}

.btn-bg-primary:hover {
    background-color: var(--color-quinary);
}

.btn-secondary {
    padding: 16px 101px;
}

.btn-bg-secondary {
    background-color: var(--color-primary);

    color: var(--color-quaternary);
}

.btn-bg-secondary:hover {
    background-color: var(--color-senary);
}

.btn-custom {
    font-size: 15px;

    border: none;
}

.btn-container {
    display: flex;
    gap: 5px;

    flex-wrap: wrap;
}

.arrow-container {
    margin: auto;
}

.arrow {
    max-width: 43.5px;
}